<html>
    <head>
        <title>Мицуката сайт</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Мицукат корпорейшн</a></h1>
        </div>

        <div>
            <p>published: 02.05.2020, 03:48</p>
            <h2><a href="https://vk.com/mitsuk.maksim">Написать мне в чатик</a></h2>
            <p>Да, да, да. Можно нажать и написать мне в вк</p>
        </div>

        <div>
            <p>published: 02.05.2020, 03:48</p>
            <h2><a href="https://www.instagram.com/mitsuk.maksim/">Тыкай</a></h2>
            <p>А сюда нажмешь, в инстаграм попадешь</p>
        </div>
    </body>
</html>